@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;

    String _viewID = $"GW{DateTime.Now.Ticks}";

}
    <table id="@(_viewID)" class="table table-striped table-bordered table-hover">
        <tr>
            <td colspan="2" class="Head_style_a">
                用戶端G/W設定
            </td>
        </tr>
        <tr>
            <th>
                選擇傳送Excel發票開立方式：
            </th>
            <td>
                <select class="form-control" name="DefaultProcessType">
                    @*<option value="">請選擇...</option>*@
                    <option value="@((int)Naming.InvoiceProcessType.C0401_Xlsx)">Excel通用格式</option>
                    <option value="@((int)Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByVAC)">Excel格式加值中心配號</option>
                    <option value="@((int)Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByIssuer)">Excel格式開立人配號</option>
                    <option value="@((int)Naming.InvoiceProcessType.C0401_Xlsx_CBE)">Excel格式境外電商專用</option>
                </select>
                    <script>
                        $(function () {
                            var $select = $('#@(_viewID) select[name="DefaultProcessType"]');
                            $select.val('@(_model.OrganizationStatus.InvoiceClientDefaultProcessType)');
                            $select.on('change', function (element) {
                                commitAction('@Html.Raw(Url.Action("CommitDefaultProcessType","Organization",new { KeyID = _model.CompanyID.EncryptKey() }))', { 'DefaultProcessType': $select.val() },
                                    function (result) {
                                        if (result.result) {
                                            alert('OK!');
                                        }
                                    });
                            });
                        });
                    </script>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <a class="btn" onclick="applyCertificate(@(_model.CompanyID));">建立憑證資訊</a>
            </th>
        </tr>
    </table>



