
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;

}
<div class="panel panel-default">
    <div class="panel-heading">
        營業人
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <!--表格 開始-->
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td colspan="4" class="Head_style_a">
                        基本資料
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red">*</span>公司統一編號
                    </th>
                    <td>
                        <input type="text" class="form-control" name="ReceiptNo" value='@(_viewModel.ReceiptNo)' />
                    </td>
                    <th>
                        <span style="color: red">*</span>名稱
                    </th>
                    <td>
                        <input type="text" class="form-control" name="CompanyName" value='@(_viewModel.CompanyName)' />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red">*</span>地址
                    </th>
                    <td colspan="3">
                        <input type="text" class="form-control" name="Addr" maxlength="68" value='@(_viewModel.Addr)' />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red">*</span>電話
                    </th>
                    <td>
                        <input type="text" class="form-control" name="Phone" value='@(_viewModel.Phone)' />
                    </td>
                    <th>
                        傳真
                    </th>
                    <td>
                        <input type="text" class="form-control" name="Fax" value='@(_viewModel.Fax)' />
                    </td>
                </tr>
                <tr>
                    <th>
                        公司負責人
                    </th>
                    <td>
                        <input type="text" class="form-control" name="UndertakerName" value='@(_viewModel.UndertakerName)' />
                    </td>
                    <th>
                        <span style="color: red">*</span>類別
                    </th>
                    <td>
                        <select name="CategoryID" class="form-control">
                            <option value="">請選擇</option>
                            @{ Html.RenderPartial("~/Views/SystemInfo/OrganizationCategoryOptions.cshtml");}

                        </select>
                        <script>
                            $('select[name="CategoryID"]').val('@(_viewModel.CategoryID)');
                        </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="Head_style_a">
                        聯絡方式
                    </td>
                </tr>
                <tr>
                    <th>
                        聯絡人姓名
                    </th>
                    <td>
                        <input type="text" class="form-control" name="ContactName" value='@(_viewModel.ContactName)' />
                    </td>
                    <th>
                        聯絡人職稱
                    </th>
                    <td>
                        <input type="text" class="form-control" name="ContactTitle" value='@(_viewModel.ContactTitle)' />
                    </td>
                </tr>
                <tr>
                    <th>
                        聯絡人電話
                    </th>
                    <td>
                        <input type="text" class="form-control" name="ContactPhone" value='@(_viewModel.ContactPhone)' />
                    </td>
                    <th>
                        聯絡人行動電話
                    </th>
                    <td>
                        <input type="text" class="form-control" name="ContactMobilePhone" value='@(_viewModel.ContactMobilePhone)' />
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red">*</span>聯絡人電子郵件
                    </th>
                    <td colspan="3">
                        <input type="text" class="form-control" name="ContactEmail" maxlength="512" value='@(_viewModel.ContactEmail)' />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="Head_style_a">
                        設定項目
                    </td>
                </tr>
                <tr>
                    <th>
                        設定使用發票列印
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="SetToPrintInvoice" @(_viewModel.SetToPrintInvoice == true ? "checked" : null) />設定使用發票列印
                    </td>
                    <th>
                        發票列印樣式<br />
                        折讓單列印樣式
                    </th>
                    <td>
                        <input type="text" class="form-control" name="InvoicePrintView" value='@(_viewModel.InvoicePrintView)'
                               maxlength="160" /><br />
                        <input type="text" class="form-control" name="AllowancePrintView" value='@(_viewModel.AllowancePrintView)'
                               maxlength="160" />
                    </td>
                </tr>
                <tr>
                    <th>
                        電子發票核准函號
                    </th>
                    <td>
                        <input type="text" class="form-control" name="AuthorizationNo" value='@(_viewModel.AuthorizationNo)' />
                    </td>
                    <th>
                        自動核准列印
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="EntrustToPrint" @(_viewModel.EntrustToPrint == true ? "checked" : null) />B2B發票買受人可重複列印
                    </td>
                </tr>
                <tr>
                    <th>
                        設定傳送發票對應資料
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="DownloadDataNumber" @(_viewModel.DownloadDataNumber == true ? "checked" : null) />使用傳送企業發票對應資料
                    </td>
                    <th>
                        上期發票空白號碼
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="UploadBranchTrackBlank" @(_viewModel.UploadBranchTrackBlank == true ? "checked" : null) />用戶端自動下載
                    </td>
                </tr>
                <tr>
                    <th>
                        設定發票資料全列印
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="PrintAll" @(_viewModel.PrintAll == true ? "checked" : null) />是
                    </td>
                    <th>
                        <span style="color: red">*</span>設定發票類別
                    </th>
                    <td>
                        <select name="SettingInvoiceType" class="form-control">
                            <option value="">請選擇</option>
                            @{ Html.RenderPartial("~/Views/SystemInfo/InvoiceTypeOptions.cshtml");}

                        </select>
                        <script>
                            $('select[name="SettingInvoiceType"]').val('@((int?)_viewModel.SettingInvoiceType)');
                        </script>
                    </td>
                </tr>
                <tr>
                    <th>
                        設定接收B2B發票(PDF檔)
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="SubscribeB2BInvoicePDF" @(_viewModel.SubscribeB2BInvoicePDF == true ? "checked" : null) />是
                    </td>
                    <th>
                        開立發票字軌號碼檢核
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="EnableTrackCodeInvoiceNoValidation" @(_viewModel.EnableTrackCodeInvoiceNoValidation == true ? "checked" : null) />是
                    </td>
                </tr>
                <tr>
                    <th>
                        設定使用委外客服
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="SetToOutsourcingCS" @(_viewModel.SetToOutsourcingCS == true ? "checked" : null) />使用委外客服
                    </td>
                    @if (_model != null)
                    {
                        <th>公司識別標章</th>
                        <td>
                            <img id="logo" style="max-width:300px;" src="@(_model.LogoURL != null ? VirtualPathUtility.ToAbsolute("~/" + _model.LogoURL) : null)" />
                            <input type="file" id="fileLogo" style="display:inline;" name="fileLogo" />
                            <script>
                            $(function () {

                                var fileUpload = $('#fileLogo');
                                var elmt = fileUpload.parent();

                                fileUpload.off('click').on('change', function () {

                                    $('<form method="post" id="myForm" enctype="multipart/form-data"></form>')
                                        .append(fileUpload).ajaxForm({
                                            url: "@(Url.Action("UpdateLogo","Organization"))",
                                            data: { 'id': '@(_model.CompanyID)' },
                                            beforeSubmit: function () {
                                                showLoading();
                                            },
                                            success: function (data) {
                                                hideLoading();
                                                elmt.append(fileUpload);
                                                $(data).appendTo($('body')).remove();
                                            },
                                            error: function () {
                                                elmt.append(fileUpload);
                                            }
                                        }).submit();
                                });
                            });
                            </script>
                        </td>
                    }
                </tr>
                @*<tr>
                        <th>上傳系統格式
                        </th>
                        <td >
                            <select name="uploadType">
                                <option>XML</option>
                                <option>CSV</option>
                                <option>MIG</option>
                                <option>XML(含折讓單)</option>
                            </select>
                        </td>
                        @if (_viewModel.LogoURL!= null)
                            {
                        <th>公司LOGO</th>
                        <td>
                            <img id="logo" style="width: 300px;" src="@(_viewModel.LogoURL != null ? VirtualPathUtility.ToAbsolute("~/" + _viewModel.LogoURL) : null)" />
                            <input type="file" id="fileLogo" style="display: inline;" name="fileLogo" />
                        </td>
                        }
                    </tr>
                    <tr>
                        <th>G/W發票存放資料夾
                        </th>
                        <td  colspan="3">
                            <input type="text" size="68" name="txnPath" value="@(Request["txnPath"]!=null ? Request["txnPath"] : "C:\\UXB2B_EIVO")" />
                        </td>
                    </tr>
                    <tr>
                        <th >系統
                        </th>
                        <td colspan="3" >
                            <select name="svcType">
                                <option value="0">測試機</option>
                                <option value="1">正式機</option>
                            </select>
                        </td>
                    </tr>*@
                <tr>
                    <td colspan="4" class="Head_style_a">
                        訊息通知
                    </td>
                </tr>
                <tr>
                    <th>
                        發票開立
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Issuing)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.Issuing) > 0) ? "checked" : null) />寄送開立通知
                    </td>
                    <th>
                        中獎發票
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Winning)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.Winning) > 0) ? "checked" : null) />寄送中獎通知
                    </td>
                </tr>
                <tr>
                    <th>
                        作廢發票
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Cancelling)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.Cancelling) > 0) ? "checked" : null) />寄送作廢通知
                    </td>
                    <th>
                        發票折讓
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.IssuingAllowance)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.IssuingAllowance) > 0) ? "checked" : null) />寄送折讓通知
                    </td>
                </tr>
                <tr>
                    <th>
                        作廢折讓
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.CancellingAllowance)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.CancellingAllowance) > 0) ? "checked" : null) />寄送作廢折讓通知
                    </td>
                    <th>
                        客訂樣式
                    </th>
                    <td>
                        <input type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.UseCustomStyle)" name="NoticeStatus" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.UseCustomStyle) > 0) ? "checked" : null) />使用客訂郵件樣式
                    </td>
                </tr>
                <tr>
                    <th>
                        簡訊通知
                    </th>
                    <td>
                        <input type="checkbox" value="@(true)" name="SetToNotifyCounterpartBySMS" @(_viewModel.SetToNotifyCounterpartBySMS == true ? "checked" : null) />使用簡訊通知買受人
                    </td>
                    <th>B2B發票開立通知以鏈結取代附件</th>
                    <td>
                        <input type="checkbox" value="@(true)" name="UseB2BStandalone" @(_viewModel.UseB2BStandalone == true ? "checked" : null) />是
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


