@using res = eIVOGo.Resource.Views.InquireInvoice.ByAttachment

<tr>
    <th>
        @res.附件檔
    </th>
    <td class="tdleft">
        <select name="attachment">
            <option value="">@res.全部</option>
            <option value="1">@res.有</option>
            <option value="0">@res.無</option>
        </select>
    </td>
</tr>

<script>
    $(function () {
        $('select[name="attachment"]').val('@(Request["attachment"])');
    });
</script>