@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@using res=eIVOGo.Resource.Views.InquireInvoice.ByCancellationQuery

@{    
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
      if (_viewModel == null)
    {
        ViewBag.ViewModel = _viewModel = new InquireInvoiceViewModel { };
        _viewModel.FieldName = ViewBag.FieldName ?? "Cancelled";
    }  
}
<tr>
    <th>
        @res.單據狀態
    </th>
    <td class="tdleft">

        <select class="form-control" name="Cancelled">
            @*@if (ViewBag.SelectorIndication != null)
            {
                <option value="@(ViewBag.Cancelled ?? "")">全部</option>
            }*@
            <option value="@(ViewBag.Cancelled ?? "")">@res.全部</option>
            <option value="@(_viewModel.Cancelled ?? false)">@res.未作廢</option>
            <option value="@(_viewModel.Cancelled ?? true)">@res.已作廢</option>
        </select>


    </td>
</tr>
