@using System.IO
@using System.Linq.Expressions
@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@using Business.Helper
@using res=eIVOGo.Resource.Views.InvoiceBusiness.Module.InvoiceCreated

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    InvoiceItem _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (InvoiceItem)this.Model;
}

@if (_model != null)
{
    if (_model.PrintMark == "Y")
    {
        <div>
            @res.發票已開立_號碼：@(_model.TrackCode)@(_model.No)<br />
                                                         <a href="@(Url.Action("PrintSingleInvoiceAsPDF","DataView",new { keyID = _model.InvoiceID.EncryptKey() }))" target="_blank">@res.列印資料下載_A4_</a>
            <br />
            <a href="@(Url.Action("PrintSingleInvoiceAsPDF","DataView",new { keyID = _model.InvoiceID.EncryptKey(),PaperStyle = "POS" }))" target="_blank">@res.列印資料下載_熱感紙_</a>
            <br />
            <a href="@(Url.Action("ShowInvoice","DataView",new { keyID = _model.InvoiceID.EncryptKey(),ResultMode = Naming.DataResultMode.Print }))" target="_blank">@res.立即檢視列印_A4_</a>
            <br />
            <a href="@(Url.Action("ShowInvoice","DataView",new { keyID = _model.InvoiceID.EncryptKey(),ResultMode = Naming.DataResultMode.Print,PaperStyle = "POS" }))" target="_blank">@res.立即檢視列印_熱感紙_</a>
            <br />
        </div>
    }
    else
    {
        <div>
            發票已開立，號碼：@(_model.TrackCode)@(_model.No)<br />，
            @(_model.InvoiceCarrier != null ? @res.使用載具_不列印證明聯__ : "。")
        </div>
    }
    <script>
        $('form').resetForm();
    </script>
}


