

@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using res=eIVOGo.Resource.Views.DataView.Module.D0401

@{

    ModelSource<InvoiceItem> models;
    InvoiceAllowance _model;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (InvoiceAllowance)this.Model;
}

@if (_model != null)
{
    var details = _model.InvoiceAllowanceDetails.Select(d => d.InvoiceAllowanceItem).First();
    <div style="page-break-after: always; width: 5.5cm; margin-left: 0cm; margin-right: 0cm">
        <div class="container" style="border-top: 0px; border-bottom: 0px; font-size:small;">
            @if (_model.InvoiceAllowanceSeller.Organization.LogoURL != null)
            {
                <img id="logo" style="max-width:5.2cm;max-height:1.7cm;" src='@(eIVOGo.Properties.Settings.Default.WebApDomain + VirtualPathUtility.ToAbsolute("~/" +_model.InvoiceAllowanceSeller.Organization.LogoURL))' />
            }
            else
            {
                <p style="text-align:center;max-width:5cm;">@(_model.InvoiceAllowanceSeller.CustomerName)</p>
            }
            <p style="text-align:center">@res.營業人銷貨退回_進貨退出<Br />@res.或折讓證明單</p>
            <p style="text-align:center">@(String.Format("{0:yyyy-MM-dd}", _model.AllowanceDate))</p>
            <p>
                @res.賣方統編_@(_model.InvoiceAllowanceSeller.ReceiptNo)<br />
                @res.賣方名稱_@(_model.InvoiceAllowanceSeller.CustomerName)<br />
                @res.發票開立日期_@(String.Format("{0:yyyy-MM-dd}", details.InvoiceDate))<br />
                @(details.InvoiceNo.Substring(0, 2))-@(details.InvoiceNo.Substring(2))<br />
                @res.買方統編_@(!_model.InvoiceAllowanceBuyer.IsB2C() ? _model.InvoiceAllowanceBuyer.ReceiptNo : null)<br />
                @res.買方名稱_@(!_model.InvoiceAllowanceBuyer.IsB2C() ? _model.InvoiceAllowanceBuyer.CustomerName : null)<br />
            </p>
            <p></p>
            <p>
                @{
                    var items = _model.InvoiceAllowanceDetails.Select(d => d.InvoiceAllowanceItem);
                    bool specialTaxType = false;
                }
                @foreach (var d in items)
                {
                    bool withTax = d.TaxType == (byte)Naming.TaxTypeDefinition.特種稅率;
                    if (withTax)
                    {
                        specialTaxType = withTax;
                    }
                    <text>@res.品名_@(d.OriginalDescription)</text><br />
                    <text>@res.數量_@(String.Format("{0:##,###,###,##0.##}", d.Piece))</text><br />
                    <br />
                    if (withTax)
                    {
                        <text>@res.金額_含稅__</text>
                    }
                    else
                    {
                        <text>@res.金額_不含稅__</text>

                    }
                    @(String.Format("{0:##,###,###,##0.##}", d.Amount))<br />
                    <text>@res.課稅別_@((d.TaxType == (byte)Naming.TaxTypeDefinition.零稅率 || d.TaxType == (byte)Naming.TaxTypeDefinition.零稅率) ? "TZ" : "TX")</text>
                }
            </p>
            <p>
                @res.營業稅額合計_@(String.Format("{0:##,###,###,##0.##}", _model.TaxAmount))<br />
                @if (specialTaxType)
                {
                    <text>@res.金額_含稅_合計_</text>
                }
                else
                {
                    <text>@res.金額_不含稅_合計_</text>
                }
                @(String.Format("{0:##,###,###,##0.##}", _model.TotalAmount))<br />
            </p>
            <p></p>
            <p>
                @res.簽收人_
            </p>
        </div>
    </div>
}




