@using Model.DataEntity
@using Model.Locale
@using Model.Models.ViewModel
@using eIVOGo.Resource.Views.WinningNumber.Module

@{
    Layout = null;

    UniformInvoiceWinningNumber _model = (UniformInvoiceWinningNumber)this.Model;

    //Rank.DefaultValue = _model.Rank.ToString();
    string[] enumList = Enum.GetNames(typeof(Naming.EditableWinningPrizeType));
    var _items = new Dictionary<string, string>();

    foreach (string item in enumList)
    {
        _items.Add(((int)Enum.Parse(typeof(Naming.EditableWinningPrizeType), item)).ToString(), item);
    }

    EnumSelectorViewModel enumSelectorViewModel = new EnumSelectorViewModel
    {
        FieldName = "Rank",
        OptionItems = _items,        
        DefaultValue = _model.Rank.ToString()
    };

}

    <tr>
        <td>@_model.Year</td>
        <td>@String.Format("{0:00}-{1:00}{2}",_model.Period*2-1,_model.Period*2,EditItem.月)</td>
        <td>
            @{Html.RenderPartial("~/Views/Common/Module/EnumSelect.cshtml", enumSelectorViewModel);}
        </td>
        <td>
        </td>
        <td>
            <input type="text" name="WinningNo" placeholder="@EditItem.請輸入中獎號碼" value="@_model.WinningNO" data-role="edit" />
        </td>
        <td>
            <div class="btn-group dropdown" data-toggle="dropdown">
                <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">@EditItem.請選擇功能</button>
                <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="btn" onclick="uiWinningNo.commitItem(@_model.WinningID,@_model.Year,@_model.Period);">@EditItem.確定</a></li>
                    <li><a class="btn" onclick="uiWinningNo.showItem(@_model.WinningID);">@EditItem.取消</a></li>
                </ul>
            </div>
        </td>
    </tr>
