<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 一般性發票查詢</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/Scripts/jquery-3.5.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <script src="~/Scripts/angular.min.js"></script>
    @{ Html.RenderPartial("~/Views/Shared/CommonScriptInclude.cshtml");}

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("一般性發票查詢", "Index", "APConsumer", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">Copyrights @DateTime.Now.Year All Rights Reserved</p>            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/module/dateUtil.js?v=f4f7c31779afa1106d18ddd696d751b7")
    @Scripts.Render("~/scripts/module/eCaptcha.js?v=d4f5822c258ea6158441ace36d1e9dbb")

    @RenderSection("scripts", required: false)
</body>
</html>


