
@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{

    UserProfile _model;
    _model = (UserProfile)this.Model;
}

<tr>
    <td>@(_model.UserRole.Count > 0 ? _model.UserRole.First().OrganizationCategory.Organization.CompanyName : null)</td>
    <td>@(_model.UserRole.Count > 0 ? ((Naming.EIVOUserRoleID)_model.UserRole.First().RoleID).ToString() : null)</td>
    <td>@(_model.UserName)</td>
    <td>@(_model.PID)</td>
    <td>@(_model.EMail)</td>
    <td>
        <div class="btn-group dropdown" data-toggle="dropdown">
            <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">請選擇功能</button>
            <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="btn" onclick="uiAccountQuery.edit(@(_model.UID));">編輯</a></li>
                @if (_model.LevelID == (int)Naming.MemberStatusDefinition.Mark_To_Delete)
                {
                    <li><a class="btn" onclick="uiAccountQuery.activate(@(_model.UID));">啟用</a></li>
                }
                else
                {
                    <li><a class="btn" onclick="uiAccountQuery.sendConfirmation(@(_model.UID));">重送確認信</a></li>
                    <li><a class="btn" onclick="uiAccountQuery.deactivate(@(_model.UID));">停用</a></li>
                    <li><a class="btn" onclick="uiAccountQuery.delete(@(_model.UID));">刪除</a></li>
                }
            </ul>
        </div>
    </td>
</tr>


