

@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using eIVOGo.Resource.Views.Account
@using eIVOGo.Resource.Views.Common.Enum

@{


    ModelSource<InvoiceItem> models;
    UserAccountQueryViewModel _viewModel;
    Model.Security.MembershipManagement.UserProfileMember _profile;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (UserAccountQueryViewModel)ViewBag.ViewModel;
    _profile = Business.Helper.WebPageUtility.UserProfile;

    //下拉選單
    string[] enumList = Enum.GetNames(typeof(Naming.BusinessRelationshipStatus));
    var _items = new Dictionary<string, string>();

    foreach (string item in enumList)
    {
        var name = item;

        switch (item)
        {
            case "註記停用":
                name = BusinessRelationshipStatus.註記停用;
                break;
            case "等待回覆確認":
                name = BusinessRelationshipStatus.等待回覆確認;
                break;
            case "人員已確認":
                name = BusinessRelationshipStatus.人員已確認;
                break;
        }

        _items.Add(((int)Enum.Parse(typeof(Naming.BusinessRelationshipStatus), item)).ToString(),name);

    }

    EnumSelectorViewModel enumSelectorViewModel = new EnumSelectorViewModel
    {
        FieldName = "LevelID",
        OptionItems = _items,
        SelectorIndication=@AccountQuery.全部,
        FieldClass="form-control"
    };
}
<!--交易畫面標題-->
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", AccountQuery.使用者管理);}

<div class="border_gray">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title" id="queryArea">
        <tr>
            <th colspan="4" class="Head_style_a">
                @AccountQuery.查詢條件
            </th>
        </tr>
        <tr>
            <th nowrap="nowrap" width="120">
                @AccountQuery.營業人名稱
            </th>
            <td colspan="3" class="tdleft">
                @{
                    Html.RenderAction("SellerSelector", "DataFlow");
                }
            </td>
        </tr>
        @*<tr>
                <th nowrap="nowrap" width="120">
                    角色
                </th>
                <td  colspan="3" class="tdleft">
                    <uc1:EnumSelector runat="server" SelectorIndication="全部" ID="RoleID" FieldName="RoleID" TypeName="Model.Locale.Naming+EIVOUserRoleID, Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
                </td>
            </tr>*@
        <tr>
            <th nowrap="nowrap" width="120">
                @AccountQuery.帳號
            </th>
            <td class="tdleft">
                <input name="PID" type="text" value="@(Request["PID"])" class="form-control" />
                <input name="RoleID" type="hidden" value="@(_viewModel.RoleID)" />
            </td>
            <th nowrap="nowrap" width="120">
                @AccountQuery.姓名
            </th>
            <td class="tdleft">
                <input name="UserName" type="text" value="@(Request["UserName"])" class="form-control" />
            </td>

        </tr>
        <tr>
            <th nowrap="nowrap" width="120">
                @AccountQuery.會員狀態
            </th>
            <td class="tdleft">
                @{Html.RenderPartial("~/Views/Common/Module/EnumSelect.cshtml", enumSelectorViewModel);}
            </td>
            <th>
                @AccountQuery.每頁資料筆數
            </th>
            <td class="tdleft">
                <input name="pageSize" type="text" value="@(_viewModel.PageSize ?? Uxnet.Web.Properties.Settings.Default.PageSize)" />
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" id="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiAccountQuery.inquire();">@AccountQuery.查詢</button>
            </td>
        </tr>
    </tbody>
</table>
<!--表格 開始-->
<script>
    $(function () {
        if (!window.uiAccountQuery) {
            window.uiAccountQuery = {
                $queryAction: $('#queryAction'),
                $form: $('#queryArea').closest('form')
            };
        }
    });
</script>
@{
    Html.RenderPartial("~/Views/Account/ScriptHelper/Common.cshtml");
}


