@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@using Google.Authenticator
@using System.Text

@{
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
}

<!DOCTYPE html>
<html>
<head>
    <title>電子發票系統</title>
    <link href="~/App_Themes/Login/login.css" type="text/css" rel="stylesheet" />
    <style>
        .btn {
            font-size: 13px;
            color: #6d2c0c;
            background: url(../../images/btn.gif) repeat-x bottom;
            border: 1px solid #d8ae6b;
            height: 25px;
            padding-top: 3px;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
    @{ Html.RenderPartial("~/Views/Shared/CommonScriptInclude.cshtml"); }
    <script type="text/javascript" language="javascript">
<!--
        //顯示年份//
        function show_date() {
            var time = new Date(); //宣告日期物件，儲存目前系統時間
            t_year = time.getFullYear(); //取得今年年分
            if (t_year > 2011) {
                document.write(" - " + t_year);
            }
        }
        -->
    </script>
</head>
<body class="forget">
    <div class="get_pw">
        <form class="getmail" id="form1" method="post">
            <table border="0" cellspacing="0" cellpadding="0" class="sign_in">
                <tr>
                    <td>
                        <span>帳號：</span><br />
                        <input name="PID" type="text" placeholder="請輸入帳號!!" class="form-control" required />
                        <input type="hidden" name="Password" value="N/A" />
                    </td>
                    @*<td>
                            <a onclick="javascript:login();">
                                <img onmouseout="this.src='@(VirtualPathUtility.ToAbsolute("~/images/getpw_button_up.gif"))'" onmouseover="this.src='@(VirtualPathUtility.ToAbsolute("~/images/getpw_button_over.gif"))'" src="@(VirtualPathUtility.ToAbsolute("~/images/getpw_button_up.gif"))" />
                            </a>
                        </td>*@
                </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" class="verifyno">
                <tr>
                    <td>
                        @{ Html.RenderPartial("~/Views/Shared/CaptchaImg.cshtml");}

                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <button type="button" class="btn" onclick="javascript: login();">取回密碼</button>
                        <button type="button" class="btn" onclick="javascript: twoFactor();">設定兩步驟驗證</button>
                    </td>
                </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" class="err01">
                <tr>
                    <td>
                        <span id="lblMsg" style="color:red;"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="copyright" style="position: absolute; top: 290px; left: 50%;">
        &copy; 2011
        <script type="text/javascript" language="javascript">show_date();</script>
        UXB2B. All rights reserved. [ <a href="@(Url.Action("Login","Account"))">回登入頁</a> ]
    </div>
</body>
</html>
@{ Html.RenderPartial("~/Views/Shared/ReportInputError.cshtml");}
@{ Html.RenderPartial("~/Views/Shared/AlertMessage.cshtml");}
@{ Html.RenderPartial("~/Views/Shared/GlobalScript.cshtml");}
<script>
    $(function () {
        $('input:text').addClass('form-control textfield');
    });
    function login() {
        var event = event || window.event;
        $('form').prop('action','@(Url.Action("CommitToResetPass","Account"))').submit();
    }

    function twoFactor() {

        var $formData = $('form').find('input,select,textarea').serializeObject();
        clearErrors();
        showLoading();
        $.post('@Html.Raw(Url.Action("NotifyTwoFactorSettings", "Notification"))', $formData, function (data) {

            hideLoading();
            if ($.isPlainObject(data)) {
                alert(data.message);
            } else {
                $('body').append(data);
            }
        });
    }
</script>
