@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using page = eIVOGo.Resource.Views.Common.Page

@{    
    ModelSource<InvoiceItem> models;
    QueryViewModel _queryViewModel;
    String _paginationID = "itemPagination" + DateTime.Now.Ticks;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _queryViewModel = (QueryViewModel)ViewBag.QueryViewModel;
}

<input type="hidden" name="pageIndex" />
<nav aria-label="Page navigation">
    <ul class="pagination" id="@(_paginationID)"></ul>
</nav>
<script>
        $(function () {
            var obj = $('#@(_paginationID)').twbsPagination({
                totalPages: @((_queryViewModel.RecordCount + _queryViewModel.PageSize - 1) / _queryViewModel.PageSize),
                totalRecordCount: @(_queryViewModel.RecordCount),
                        displayTotalPages: '@page.總頁數',
                        displayTotalRecordCount:'@page.總筆數',
                        visiblePages: 10,
                        first: '@page.最前',
                        prev: '@page.上頁',
                        next: '@page.下頁',
                        last: '@page.最後',
                        initiateStartPageClick: false,
                        onPageClick: function (event, page) {
                            @(_queryViewModel.OnPageCallScript);
                        }
                    });
                });
</script>
