@using Model.Models.ViewModel
@using Model.Locale
@using eIVOGo.Resource.Views.TrackCode.Module

@{

    TrackCodeQueryViewModel _model = (TrackCodeQueryViewModel)this.Model;

}

<tr>
    <td>@(_model.Year - 1911)<input name="Year" type="hidden" value="@(_model.Year)" /></td>
    <td>
        <select name="PeriodNo">
            <option value="1">01-02@(AddItem.月)</option>
            <option value="2">03-04@(AddItem.月)</option>
            <option value="3">05-06@(AddItem.月)</option>
            <option value="4">07-08@(AddItem.月)</option>
            <option value="5">09-10@(AddItem.月)</option>
            <option value="6">11-12@(AddItem.月)</option>
        </select>
        <script>
                        @*$(function () {
                            $('select[name="PeriodNo"]').val(@((DateTime.Now.Month+1)/2));
                        });*@
        </script>
    </td>
    <td>
        <input type="text" name="TrackCode" class="form-control" placeholder="@(AddItem.請輸入字軌)" value="" data-role="add" />
    </td>
    <td>
        <select name="InvoiceType">
            <option value="7">@(AddItem.一般稅額計算之電子發票)</option>
            <option value="8">@(AddItem.特種稅額計算之電子發票)</option>
        </select>
    </td>
    <td>
        <a class="btn" onclick="uiTrackCodeQuery.commitItem();">@(AddItem.新增字軌)</a>
    </td>
</tr>
