@using System.IO
@using System.Linq.Expressions
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Model.DataEntity
@using Model.Locale
@using Newtonsoft.Json
@using Model.Models.ViewModel
@using eIVOGo.Resource.Views.TrackCode.Module

@{
    IEnumerable<InvoiceTrackCodeItem> _items = new List<InvoiceTrackCodeItem>();
    List<InvoiceTrackCodeItem> _model;
    IOrderedEnumerable<InvoiceTrackCodeItem> _order = null;
    int[] _sort;
    int _pageSize;

    _model = (List<InvoiceTrackCodeItem>)this.Model.Results;

    _sort = (int[])ViewBag.Sort;
    _pageSize = (int)ViewBag.PageSize;

    if (_model != null)
    {
        if (_sort != null && _sort.Length > 0)
        {
            _order = sorting(_order, _sort, _model);

            if (_order == null)
            {
                _items = _model.Skip((int)ViewBag.PageIndex * _pageSize)
                    .Take(_pageSize);
            }
            else
            {
                _items = _order.Skip((int)ViewBag.PageIndex * _pageSize)
                    .Take(_pageSize);
            }
        }
        else
        {
            _items = _model.Skip((int)ViewBag.PageIndex * _pageSize)
                .Take(_pageSize);
        }
    }
}

@functions {
    public IOrderedEnumerable<InvoiceTrackCodeItem> sorting(IOrderedEnumerable<InvoiceTrackCodeItem> _order, int[] _sort, List<InvoiceTrackCodeItem> _model)
    {
        foreach (var idx in _sort)
        {
            switch (idx)
            {
                case 2:
                    _order = _order == null ? _model.OrderBy(i => i.PeriodNo) : _order.ThenBy(i => i.PeriodNo);
                    break;
                case -2:
                    _order = _order == null ? _model.OrderByDescending(i => i.PeriodNo) : _order.ThenByDescending(i => i.PeriodNo);
                    break;
                case 3:
                    _order = _order == null ? _model.OrderBy(i => i.TrackCode) : _order.ThenBy(i => i.TrackCode);
                    break;
                case -3:
                    _order = _order == null ? _model.OrderByDescending(i => i.TrackCode) : _order.ThenByDescending(i => i.TrackCode);
                    break;
            }
        }
        return _order;
    }
}

<table class="table01 itemList">
    <thead>
        <tr>
            <th style="min-width: 120px;" aria-sort="other">@ItemList.發票年度</th>
            <th style="min-width: 120px;">@ItemList.發票期別</th>
            <th style="min-width: 120px;">@ItemList.字軌</th>
            <th style="min-width: 120px;">@ItemList.類別</th>
            <th style="min-width: 150px" aria-sort="other">@ItemList.管理</th>
        </tr>
    </thead>
    <tbody>
        @{ int idx = 0;}
        @foreach (var item in _items)
        {
            idx++;
            Html.RenderPartial("~/Views/TrackCode/Module/DataItem.cshtml", item);
        }
    </tbody>
    <tfoot>
        @{ Html.RenderPartial("~/Views/TrackCode/Module/AddItem.cshtml");}

        <tr>
            <td colspan="4">
                @if (_sort != null && _sort.Length > 0)
                {
                    <script>
    $(function () {
        initSort(@(JsonConvert.SerializeObject(_sort)),1);
    });
                    </script>
                }
                <script>
    $(function () {
        buildSort(uiTrackCodeQuery.inquire,@((int)ViewBag.PageIndex + 1),1);
    });
                </script>
            </td>
        </tr>
    </tfoot>
</table>

