@using System.Linq
@using System.IO
@using System.Linq.Expressions
@using System.Globalization

@using Newtonsoft.Json
@using Model.Models.ViewModel
@using Model.Schema.EIVO
@using Model.Helper
@using Model.Locale
@using Kiosk.Helper
@using Utility
@using Uxnet.Web.WebUI

@functions
{
    const int _FirstCheckCount = 6;
    const int _SecondCheckCount = 16;
    const int _ItemPagingCount = 10;
    bool _isDuplicatedPrint = false;
    InvoiceRootInvoice _model = null;
    String _logoUrl = null;
    String _sellerName = "瑞士商菲利普莫里斯股份有限公司";

    bool IsB2C()
    {
        return _model.BuyerId == "0000000000";
    }

    public int? InvoiceTypeToFormat(String typeValue)
    {
        int type;
        if (int.TryParse(typeValue, out type))
        {
            switch (type)
            {
                case (int)Naming.InvoiceTypeDefinition.一般稅額計算之電子發票:
                    return (int)Naming.InvoiceTypeFormat.一般稅額計算之電子發票;
                case (int)Naming.InvoiceTypeDefinition.特種稅額計算之電子發票:
                    return (int)Naming.InvoiceTypeFormat.特種稅額;
                default:
                    return (int)Naming.InvoiceTypeFormat.一般稅額計算之電子發票;
            }
        }
        return null;
    }
}
@{

    RenderStyleViewModel _viewModel;

    _model = (InvoiceRootInvoice)this.Model;

    InvoiceRootInvoiceInvoiceItem[] _productItem = _model.InvoiceItem;


    _viewModel = ViewBag.ViewModel as RenderStyleViewModel;

}
@if (_model != null)
{

}

<div style="page-break-after: always;width:5.5cm;margin-left: 0cm;margin-right:0cm">

    <div class="container" style="border-top:0px;border-bottom: 0px;page-break-after: always;">
        <table>
            <tr>
                <td>
                    <div class="cutfield" style="border-top:0px;border:0px;">
                        @if (_logoUrl != null)
                        {
                            <img id="logo" style="max-width:5.2cm;max-height:1.7cm;" src='@(_logoUrl)' />
                        }
                        else
                        {
                            <div style="text-align:center;">
                                <h3 class="title-small" style="width:4.5cm; padding-top:0px;font-weight:bold;@(_sellerName != null && _sellerName.Length > 16 ? "font-size:small;" : null)">@(_sellerName)</h3>
                            </div>
                        }
                        @if (_isDuplicatedPrint)
                        {
                            <h2 style="font-size:larger;">電子發票證明聯補印</h2>
                        }
                        else
                        {
                            <h2>電子發票證明聯</h2>
                        }
                        @{
                            DateTime invoiceDate;
                            if (DateTime.TryParseExact(String.Format("{0} {1}", _model.InvoiceDate, _model.InvoiceTime), "yyyy/MM/dd HH:mm:ss", CultureInfo.CurrentCulture, DateTimeStyles.None, out invoiceDate))
                            {
                                <h2>@(invoiceDate.Year - 1911)年@((invoiceDate.Month % 2).Equals(0) ? String.Format("{0:00}-{1:00}", invoiceDate.Month - 1, invoiceDate.Month) : String.Format("{0:00}-{1:00}", invoiceDate.Month, invoiceDate.Month + 1))月 </h2>
                            }
                        }
                        <h2>@(_model.InvoiceNumber?.Substring(0,2))-@(_model.InvoiceNumber?.Substring(2))</h2>
                        <p>
                            @(String.Format("{0:yyyy-MM-dd HH:mm:ss}", invoiceDate))
                            @(IsB2C()
                                ? ""
                                : _model.BuyerMark==3 || _model.BuyerMark==4
                                    ? "不得扣抵"
                                    : String.Format("格式 {0}", InvoiceTypeToFormat(_model.InvoiceType)))<br />
                            隨機碼 @(_model.RandomNumber)&nbsp;&nbsp;&nbsp;&nbsp; 總計 @(String.Format("{0:##,###,###,##0.##}",_model.TotalAmount))<br />
                            賣方@(_model.SellerId) @(IsB2C() ? null : String.Format("買方{0}", _model.BuyerId))
                        </p>
                        <div class="code1">
                            @{
                                String data = $"{invoiceDate.Year - 1911:000}{(invoiceDate.Month + 1) / 2 * 2:00}{_model.InvoiceNumber}{_model.RandomNumber}";
                            }
                            <img id="barcode" alt="" style="max-width:4.7cm;" src="@(data.GetBarcode39ImageSrc(margin:10,height:40,wide:3,narrow:1))" />
                        </div>
                        <div class="code2" style="padding-left:0.3cm;">
                            <img style="margin-right: 0.3cm;width:2.0cm;" alt="" src="@(_model.GetLeftQRCodeImageSrc(qrVersion:8))" />
                            <img style="margin-right: 0.3cm;width:2.0cm;" alt="" src="@("**".CreateQRCodeImageSrc(width:180,height:180,qrVersion:8))" />
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div class="listfield" style="border-top:0px;border-bottom: 0px">
        <table style="width:4.8cm;font-size:8pt;font-weight:bold;">
            @if (_productItem != null)
            {
                <tr>
                    <td colspan="3" style="font-size: 8pt;">
                        <p style="border-top: 1px dashed #808080;">
                            <span style="font-size: 8pt;">總計：@(_model.InvoiceItem.Length)項&nbsp;&nbsp;金額：@(String.Format("{0:##,###,###,##0.##}", _model.TotalAmount))</span><br />
                            @if (!IsB2C())
                            {
                                <text>應稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.SalesAmount))</text><br />
                                <text>零稅率銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.ZeroTaxSalesAmountSpecified ? _model.ZeroTaxSalesAmount : 0)) </text><br />
                                <text>免稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.FreeTaxSalesAmountSpecified ? _model.FreeTaxSalesAmount : 0)) </text><br />
                                <text>稅額：@(String.Format("{0:##,###,###,##0.##} ", _model.BuyerMark == 3 || _model.BuyerMark == 4 ? 0 : _model.TaxAmount))</text> <br />
                            }
                            @{
                                String[] remark = _model.MainRemark?.Split(';');
                            }
                            @BuildRemark(remark)
                            退換貨時請持發票及交易明細回原店辦理<br />
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@helper BuildRemark(String[] remark)
{
    if (remark != null)
    {
        <text>
            門市:@(remark.Length>0 ? remark[0] : null) 序號:@(remark.Length>1 ? remark[1] : null)
            <br />
            序號2:@(remark.Length > 2 ? remark[2] : null)
            <br>
        </text>
    }
}






