@using System.Linq
@using System.IO
@using System.Linq.Expressions
@using System.Globalization

@using Newtonsoft.Json
@using Model.Models.ViewModel
@using Model.Schema.EIVO
@using Model.Helper
@using Model.Locale
@using Kiosk.Helper
@using Utility
@using Uxnet.Web.WebUI
@functions
{
    AllowanceRootAllowance _model;
    bool IsB2C()
    {
        return _model.BuyerId == "0000000000";
    }
}
@{

    _model = (AllowanceRootAllowance)this.Model;
    String _logoUrl = null;
    String _sellerName = "瑞士商菲利普莫里斯股份有限公司";

}
@if (_model != null)
{
    var details = _model.AllowanceItem?.FirstOrDefault();
    <div style="page-break-after: always; width: 5.5cm; margin-left: 0cm; margin-right: 0cm">
        <div class="container" style="border-top: 0px; border-bottom: 0px; font-size:small;">
            @if (_logoUrl != null)
            {
                <img id="logo" style="max-width:5.2cm;max-height:1.7cm;" src='@(_logoUrl)' />
            }
            else
            {
                <div style="text-align:center;">
                    <h3 class="title-small" style="font-size:large; width:4.5cm; padding-top:0px;font-weight:bold;@(_sellerName != null && _sellerName.Length > 16 ? "font-size:small;" : null)">@(_sellerName)</h3>
                </div>
            }
            <p style="text-align:center">營業人銷貨退回、進貨退出<Br />或折讓證明單</p>
            <p style="text-align:center">@(_model.AllowanceDate.Replace("/", "-"))</p>
            <p style="font-size: smaller;">
                賣方統編：@(_model.SellerId)<br />
                賣方名稱：@(_model.SellerName)<br />
                發票開立日期：@(details?.OriginalInvoiceDate.Replace("/","-"))<br />
                發票號碼：@(details?.OriginalInvoiceNumber)<br />
                買方統編：@(!IsB2C() ? _model.BuyerId : null)<br />
                買方名稱：@(!IsB2C() ? _model.BuyerName : null)<br />
            </p>
            <p></p>
            <p style="font-size: smaller;">
                @{
                    var items = _model.AllowanceItem;
                    bool specialTaxType = false;
                }
                @foreach (var d in items)
                {
                    bool withTax = d.TaxType == (byte)Naming.TaxTypeDefinition.特種稅率;
                    if (withTax)
                    {
                        specialTaxType = withTax;
                    }
                    <text>品名：@(d.OriginalDescription)</text><br />
                    <text>數量：@(String.Format("{0:##,###,###,##0.##}", d.Quantity)) </text><br />
                    @*<text>單價：@(String.Format("{0:##,###,###,##0.##}", d.UnitPrice))</text>*@<br />
                    if (withTax)
                    {
                        <text>金額(含稅)：</text>
                    }
                    else
                    {
                        <text>金額(不含稅)：</text>

                    }
                    @(String.Format("{0:##,###,###,##0.##}", d.Amount))<br />
                    <text>課稅別：@(d.TaxType == (byte)Naming.TaxTypeDefinition.免稅
                                        ? ""
                                        : d.TaxType == (byte)Naming.TaxTypeDefinition.零稅率
                                            ? "TZ"
                                            : "TX")</text>
                    <br />
                    <br />
                }
            </p>
            <p style="font-size: smaller;">
                營業稅額合計：@(String.Format("{0:##,###,###,##0.##}", _model.TaxAmount))<br />
                @if (specialTaxType)
                {
                    <text>金額(含稅)合計：</text>
                }
                else
                {
                    <text>金額(不含稅)合計：</text>
                }
                @(String.Format("{0:##,###,###,##0.##}", _model.TotalAmount))<br />
            </p>
            <p></p>
            <p style="font-size: smaller;">
                簽收人：
            </p>
        </div>
    </div>
}




