@using System.Linq
@using System.IO
@using System.Linq.Expressions
@using System.Globalization

@using Newtonsoft.Json
@using Model.Models.ViewModel
@using Model.Schema.EIVO
@using Model.Helper
@using Model.Locale
@using Kiosk.Helper
@using Utility
@using Uxnet.Web.WebUI

@functions
{
    InvoiceRootInvoice _model = null;
}
@{
    Layout = "~/Views/FrontEnd/Module/ReceiptTemplate.cshtml";
    _model = (InvoiceRootInvoice)this.Model;

    InvoiceRootInvoiceInvoiceItem[] _productItem = _model.InvoiceItem;

}
@section InvoiceDetails
{
    @if (_model != null)
    {
        <table style="width:4.8cm;font-size:8pt;font-weight:bold;">
            <tr>
                <td colspan="3">
                    <p style="display: inline-block;padding: 2px 0px;margin: 0;font-size:8pt;line-height: 1.5">品名</p>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    <p style="display: inline-block;padding: 2px 0px;margin: 0;font-size:8pt;line-height: 1.5">數量</p>
                </td>
                <td style="width:40%">
                    <p style="display: inline-block;padding: 2px 0px;margin: 0;font-size:8pt;line-height: 1.5">單價</p>
                </td>
                <td style="width:40%">
                    <p style="display: inline-block;padding: 2px 0px;margin: 0;font-size:8pt;line-height: 1.5">小計</p>
                </td>
            </tr>

            @{ int _itemIdx;}
            @for (_itemIdx = 0; _productItem != null && _itemIdx < _productItem.Length; _itemIdx++)
            {
                var item = _productItem[_itemIdx];
                <tr>
                    <td colspan="3" height="15" valign="top">@(item.Description)</td>
                </tr>
                <tr>
                    <td align="right" valign="top">@(String.Format("{0:##,###,###,##0.##}", item.Quantity))</td>
                    <td align="right" valign="top">@(String.Format("{0:##,###,###,##0.##}", item.UnitPrice))</td>
                    <td align="right" valign="top">
                        @(String.Format("{0:##,###,###,##0.##}", item.Amount))&nbsp;
                        @(item.TaxType == (byte)Naming.TaxTypeDefinition.免稅
                                        ? ""
                                        : item.TaxType == (byte)Naming.TaxTypeDefinition.零稅率
                                            ? "TZ"
                                            : "TX")
                    </td>
                </tr>
            }
            @if (_productItem != null)
            {
                <tr>
                    <td colspan="3" style="font-size: 8pt;">
                        <p style="border-top: 1px dashed #808080;">
                            <span style="font-size: 8pt;">總計：@(_model.InvoiceItem.Length)項&nbsp;&nbsp;金額：@(String.Format("{0:##,###,###,##0.##}", _model.TotalAmount))</span><br />
                            備註：<br />
                            發票號碼：@(_model.InvoiceNumber)<br />
                            @if (_model.CarrierId1 != null)
                            {
                                <text>共同載具：@(_model.CarrierId1)</text><br />
                            }
                            退換貨時請持發票及交易明細回原店辦理。活動贈品與贈券須⼀併帶回，⽅可辦理。<br />
                        </p>
                    </td>
                </tr>
            }
        </table>
    }
}








