@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Locale
@using Model.DataEntity
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using Model.Models.ViewModel
@using eIVOGo.Models.ViewModel
@using ModelExtension.DataExchange
@using Utility
@using Model.Helper
@{
    Layout = "~/Views/Shared/Module/MessageDialog.cshtml";
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;

    AttachmentViewModel _viewModel = this.Model as AttachmentViewModel ??  ViewBag.ViewModel as AttachmentViewModel;
    String _viewID = $"check{DateTime.Now.Ticks}";
}

<div class="border_gray" id="@(_viewID)">
    <label>下載資料準備中，您可以繼續等待，或稍後至工作清單查詢下載。</label>
    <a href="#" style="display:none;" onclick="$('').launchDownload('@(Url.Action("DownloadResource","DataExchange"))', { 'keyID': '@Html.Raw((new { _viewModel.FileDownloadName,_viewModel.FileName,_viewModel.ContentType }).JsonStringify().EncryptData())' },'_blank');">資料下載</a>
    <script>
        debugger;
        $(function () {
            var turn = 0;
            function checkResource() {
                $.post('@Html.Raw(Url.Action("CheckResource","DataExchange"))', { 'keyID': '@Html.Raw(_viewModel.JsonStringify().EncryptData())' }, function (data) {
                    if ($.isPlainObject(data)) {
                        console.log(data);
                        if (data.result) {
                            hideLoading();
                            $('#@(_viewID) label').remove();
                            $('#@(_viewID) a').css('display','block');
                            alert('下載資料準備完成...');
                        } else if (data.message != null) {
                            hideLoading();
                            $('#@(_viewID) a').remove();
                            $('div').text(data.message)
                                .appendTo($('#@(_viewID)'));
                        } else if (turn >= 360) {
                            hideLoading();
                            $('#@(_viewID) a').remove();
                            $('div').text('下載錯誤...')
                                .appendTo($('#@(_viewID)'));
                        } else {
                            turn++;
                            setTimeout(checkResource, 5000);
                        }
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            }

            //showLoading();
            setTimeout(checkResource, 5000);

        });
    </script>
</div>



