@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@functions
{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    Organization _model;
    QueryViewModel _viewModel;
}
@{
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _viewModel = (QueryViewModel)ViewBag.ViewModel;

    _model = (Organization)this.Model;
    var item = _model;
    int? idx = ViewBag.Index as int?;
}
@functions
{
    bool checkCompany(Model.DataEntity.Organization Org)
    {
        return Org.OrganizationCategory.Any(c => c.CategoryID == (int)CategoryDefinition.CategoryEnum.營業人發票自動配號
            || c.CategoryID == (int)CategoryDefinition.CategoryEnum.經銷商
            || c.CategoryID == (int)CategoryDefinition.CategoryEnum.發票開立營業人
            || c.CategoryID == (int)CategoryDefinition.CategoryEnum.境外電商);
    }

}
<div class="btn-group @(idx > 4 ? "dropup" : "dropdown")" data-toggle="dropdown">
    <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">請選擇功能</button>
    <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        @if (item.OrganizationStatus.CurrentLevel != (int)Naming.MemberStatusDefinition.Mark_To_Delete)
        {
            <li><a class="btn" onclick="editCompany('@Html.Raw(item.CompanyID.EncryptKey())');">編輯</a></li>
            <li><a class="btn" onclick="disableCompany(@(item.CompanyID));">停用</a></li>
            @*<li><a class="btn" onclick="applyWelfare(@(item.CompanyID));">設定社福機構</a></li>*@
            <li><a class="btn" onclick="actionHandler('@Html.Raw(Url.Action("GatewaySettings","Organization",new { KeyID=item.CompanyID.EncryptKey() }))', null, null, 640, 'auto');">用戶端G/W設定</a></li>
            if (checkCompany(item))
            {
                <li><a class="btn" onclick="applyAgency('@Html.Raw(item.CompanyID.EncryptKey())');">設定經銷商</a></li>
            }
            <li><a class="btn" onclick="applyMaster('@Html.Raw(item.CompanyID.EncryptKey())');">指派主機構</a></li>
            <li><a class="btn" onclick="applyPOS(@(item.CompanyID));">設定POS機號</a></li>
            if (!item.IsEnterpriseGroupMember())
            {
                <li><a class="btn" onclick="applyRelationship(@(item.CompanyID));">設定為B2B營業人</a></li>
            }
            if (item.MasterOrganization == null)
            {
                <li><a class="btn" onclick="commitMaster('@Html.Raw(item.CompanyID.EncryptKey())','確認設定此開立人為主機構?');">設定為主機構</a></li>
            }
            else
            {
                <li><a class="btn" onclick="commitMaster('@Html.Raw(item.CompanyID.EncryptKey())','確認取消此開立人主機構?');">取消主機構</a></li>
            }
            <li><a class="btn" onclick="inquireUser(@(item.CompanyID));">管理使用者</a></li>
            <li><a class="btn" onclick="customSettings('@Html.Raw(item.CompanyID.EncryptKey())');">客製化服務設訂</a></li>
            @*String clientTool = $"~/resource/Cooperation/{item.ReceiptNo}.zip";
            if (File.Exists(Server.MapPath(clientTool)))
            {
                <li><a class="btn" onclick="window.location.href = '@(VirtualPathUtility.ToAbsolute(clientTool))';">下載G/W</a></li>
            }*@
            if (_model.OrganizationCategory.Any(c => c.CategoryID == (int)CategoryDefinition.CategoryEnum.發票開立營業人)
                || _model.OrganizationCategory.Any(c => c.CategoryID == (int)CategoryDefinition.CategoryEnum.經銷商))
            {
                <li><a class="btn" onclick="applyBilling('@Html.Raw(item.CompanyID.EncryptKey())');">設定收費標準</a></li>
            }
        }
        else
        {
            <li><a class="btn" onclick="enableCompany(@(item.CompanyID));">啟用</a></li>
        }
    </ul>
</div>


