
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using System.Xml
@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Schema.EIVO
@using Utility
@using Business.Helper
@using Uxnet.Web.WebUI
@{
    RenderStyleViewModel _viewModel;

    ModelSource<InvoiceItem> models;
    InvoiceItem _model;

    InvoiceProductItem[] _productItem;
    InvoiceBuyer _buyer;
    Organization _buyerOrg;
    bool _isDuplicatedPrint = false;
    const int _FirstCheckCount = 6;
    const int _SecondCheckCount = 16;
    const int _ItemPagingCount = 10;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (InvoiceItem)this.Model;
    _viewModel = ViewBag.ViewModel as RenderStyleViewModel;

    _productItem = models.GetTable<InvoiceDetail>().Where(d => d.InvoiceID == _model.InvoiceID)
        .Join(models.GetTable<InvoiceProduct>(), d => d.ProductID, p => p.ProductID, (d, p) => p)
        .Join(models.GetTable<InvoiceProductItem>(), p => p.ProductID, i => i.ProductID, (p, i) => i).ToArray();

    _buyer = _model.InvoiceBuyer;
    if (_buyer != null && _buyer.BuyerID.HasValue)
    {
        _buyerOrg = _buyer.Organization;
    }

    _isDuplicatedPrint = /*_buyer.IsB2C() &&*/ _model.CDS_Document.DocumentPrintLog.Count > 0 && _model.Organization.OrganizationStatus.EntrustToPrint != true;

}

<!DOCTYPE html>
<html>
<head runat="server">
    <style type="text/css">
        div.fspace {
            height: 9.0cm;
        }

        div.bspace {
            height: 9.0cm;
        }

        body, td, th {
            font-family: Verdana, Arial, Helvetica, sans-serif, "細明體", "新細明體";
        }

        body {
            margin: 0px;
            margin-left: 0.6cm;
            margin-right: 0.6cm;
            padding: 0px;
            font-family: "Arial", "Verdana","Helvetica", "sans-serif", "細明體", "新細明體";
        }

        .container {
            display: block;
            width: 100%;
            height: 9.4cm;
            border-top: 1px dotted #999;
            border-bottom: 1px dotted #999;
            padding-top: 0.3cm;
        }

            .container .cutfield {
                border: 1px dashed #808080;
                display: block;
                width: 5.7cm;
                height: 9cm;
                overflow: hidden;
                float: left;
            }

                .container .cutfield h2 {
                    font-size: 17pt;
                    line-height: 1;
                    letter-spacing: -1px;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }

                .container .cutfield h3 {
                    width: 5.2cm;
                    font-size: 13pt;
                    line-height: 1.4;
                    text-align: center;
                    padding: 0;
                    padding-top: 1cm;
                    padding-bottom: 0.2cm;
                    margin: 0 auto;
                }

                    .container .cutfield h3.notop {
                        font-size: 12pt;
                        line-height: 1.4;
                        text-align: center;
                        padding: 0;
                        padding-top: 5px;
                        padding-bottom: 0px;
                        margin: 0;
                    }

                .container .cutfield p {
                    font-size: 8pt;
                    line-height: 1.2;
                    padding: 0;
                    padding-top: 0.1cm;
                    padding-left: 0.1cm;
                    padding-right: 0.2cm;
                    margin: 0;
                }

                    .container .cutfield p.sign {
                        font-size: 10pt;
                        line-height: 1.5;
                        padding: 0;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 0.2cm;
                        padding-right: 0.2cm;
                        margin: 0;
                        border-top: 1px dashed #808080;
                        border-bottom: 1px dashed #808080;
                    }

                    .container .cutfield p.rule1 {
                        font-size: 9pt;
                    }

                    .container .cutfield p.rule {
                        font-size: 9pt;
                        padding: 0;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 0.2cm;
                        padding-right: 0.2cm;
                        margin: 0;
                        margin-left: 2em;
                        text-indent: -2em;
                    }

                .container .cutfield .code1 {
                    text-align: center;
                    padding: 0;
                    padding-top: 0.2cm;
                    margin: 0;
                }

                .container .cutfield .code2 {
                    text-align: center;
                    padding: 0;
                    padding-top: 0.3cm;
                    margin: 0;
                }

                    .container .cutfield .code2 img {
                        /*margin:0 0.6cm 0 0.6cm;*/
                        border: none;
                    }
        /*交易明細*/
        div.listfield {
            /*display:block;*/
            width: 720px;
            /*height:400px;*/
            margin-left: 0.1cm;
            padding: 0;
            /*overflow: hidden;*/
            /*float:left;*/
            /*-moz-column-count:2;*/ /* Firefox */
            /*-webkit-column-count:2;*/ /* Safari and Chrome */
            /*column-count:2;*/
            -moz-column-gap: 6px; /* Firefox */
            -webkit-column-gap: 6px; /* Safari and Chrome */
            column-gap: 6px;
            -moz-column-rule: 1px solid #999; /* Firefox */
            -webkit-column-rule: 1px solid #999; /* Safari and Chrome */
            column-rule: 1px solid #999;
        }

        .listfield .content_box {
            /*clear:both;*/
            /*width:240px;*/
            display: inline-block;
            padding: 2px 0px;
            margin: 0;
            /*overflow:hidden;*/
            font-size: 8pt;
            line-height: 1.5;
        }

            .listfield .content_box p.productname {
                width: 280px;
                display: inline-block;
                float: left;
            }

            .listfield .content_box p.quantity {
                width: 50px;
                display: inline-block;
                text-align: right;
                float: left;
            }

            .listfield .content_box p.price {
                width: 140px;
                display: inline-block;
                text-align: right;
                float: left;
            }

            .listfield .content_box p.totalPrice {
                width: 100px;
                display: inline-block;
                text-align: right;
                /*margin-left: 6px;*/
                float: right;
            }

        .listfield h3 {
            font-size: 12pt;
            line-height: 1.4;
            text-align: left;
            padding: 0.2cm 0.3cm;
            margin: 0;
        }

        .listfield p {
            /*font-size:10pt;*/
            line-height: 1.4;
            padding: 0;
            padding-top: 0.1cm;
            padding-left: 0.2cm;
            padding-right: 0.2cm;
            margin: 0;
        }

        /***共用***/
        .blue {
            color: #0066CC;
        }

        .red {
            color: #e60012;
        }

        .company .title {
            margin: 0px;
            padding: 0px;
            font-size: 15pt;
            font-family: 標楷體;
            font-weight: normal;
        }

        .company p {
            margin: 0px;
            padding: 0px;
            font-size: 9pt;
            font-family: 標楷體;
        }

        .customer {
            margin: 80px 0px 0px 180px;
            padding: 0px;
            color: #000;
        }

            .customer .title {
                margin: 0px;
                padding: 0px;
                font-size: 15pt;
                font-family: 標楷體;
            }

            .customer p {
                margin: 0px;
                padding: 0px;
                font-size: 15pt;
                font-family: 標楷體;
            }
    </style>
    <title>電子發票系統</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>

    @if (_model != null)
    {
        <p>&nbsp;</p>
        <div style="page-break-after: always">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <div class="cutfield">
                                <h3 style="width: 4.8cm;">@(_model.InvoiceSeller.CustomerName)</h3>
                                <h2 style="font-size: small;">*此為發票開立通知，非正式發票*</h2>
                                <h2>@(_model.InvoiceDate.Value.Year - 1911)年@((_model.InvoiceDate.Value.Month % 2).Equals(0) ? String.Format("{0:00}-{1:00}", _model.InvoiceDate.Value.Month - 1, _model.InvoiceDate.Value.Month) : String.Format("{0:00}-{1:00}", _model.InvoiceDate.Value.Month, _model.InvoiceDate.Value.Month + 1))月 </h2>
                                <h2>@(_model.TrackCode + "-" + _model.No)</h2>
                                <p>
                                    @(String.Format("{0:yyyy-MM-dd HH:mm:ss}", _model.InvoiceDate.Value)) @(_buyer.IsB2C()
                              ? ""
                              : _model.InvoiceBuyer.BuyerMark == 3 || _model.InvoiceBuyer.BuyerMark == 4
                                  ? "不得扣抵"
                                  : String.Format("格式 {0}", ((int)_model.InvoiceType.Value).InvoiceTypeToFormat()))<br />
                                    隨機碼 @(_model.RandomNo)&nbsp;&nbsp;&nbsp;&nbsp;總計 @(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TotalAmount))<br />
                                    賣方@(_model.Organization.ReceiptNo) @(_buyer.IsB2C() ? null : String.Format("買方{0}", _buyer.ReceiptNo))
                                </p>
                                <div class="code1">
                                    @{ String data = $"{_model.InvoiceDate.Value.Year - 1911:000}{_model.InvoiceDate.Value.Month:00}{_model.TrackCode}{_model.No}{_model.RandomNo}";}

                                    @*<img id="barcode" alt="" width="160" height="22" src="@(data.GetBarcode39ImageSrc())" />*@
                                    @*<img id="barcode" alt="" width="160" height="22" src="@(String.Format("{0}{1}?{2}", Uxnet.Web.Properties.Settings.Default.HostUrl, VirtualPathUtility.ToAbsolute("~/Published/GetBarCode39.ashx"), data))" />*@
                                </div>
                                <div class="code2">
                                    @*<img id="qrcode1" alt="" width="80" height="80" src="@(_model.GetLeftQRCodeImageSrc())" />
                                        <img id="qrcode2" alt="" width="80" height="80" src="@("**".CreateQRCodeImageSrc(width:180,height:180,qrVersion:10))" />*@
                                    @*<img id="qrcode1" alt="" width="80" height="80" src="@(String.Format("{0}{1}?invoiceID={2}", Uxnet.Web.Properties.Settings.Default.HostUrl, VirtualPathUtility.ToAbsolute("~/DataView/GetLeftQRCode"), _model.InvoiceID))" />
                                        <img id="qrcode2" alt="" width="80" height="80" src="@(String.Format("{0}{1}?invoiceID={2}", Uxnet.Web.Properties.Settings.Default.HostUrl, VirtualPathUtility.ToAbsolute("~/DataView/GetRightQRCode"), _model.InvoiceID))" />*@
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                            <div class="listfield">
                                <div class="content_box">
                                    <p class="productname">品名</p>
                                    <p class="quantity">數量</p>
                                    <p class="price">單價</p>
                                    <p class="totalPrice">小計</p>
                                </div>
                                @{ int _itemIdx;}
                                @for (_itemIdx = 0; _productItem != null && _itemIdx < Math.Min(_productItem.Length, _ItemPagingCount); _itemIdx++)
                                {
                                    var item = _productItem[_itemIdx];
                                    <div class="content_box">
                                        <p class="productname">@(item.InvoiceProduct.Brief)</p>
                                        <p class="quantity">@(String.Format("{0:##,###,###,##0.##}", item.Piece))</p>
                                        <p class="price">@(String.Format("{0:##,###,###,##0.##}", item.UnitCost))</p>
                                        <p class="totalPrice">@(String.Format("{0:##,###,###,##0.##}", item.CostAmount))</p>
                                    </div>
                                }
                                @if (_productItem != null && _productItem.Length <= _FirstCheckCount)
                                {
                                    <div class="content_box">
                                        <p style="border-top: 1px dotted #808080;">
                                            <span style="font-size: 12pt; font-weight: bold;">
                                                總計：@(_model.InvoiceDetails.Count)項&nbsp;&nbsp;
                                                金額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TotalAmount))&nbsp;&nbsp;
                                                @(_model.InvoiceAmountType.CurrencyID.HasValue ? $"幣別：{_model.InvoiceAmountType.CurrencyType.AbbrevName}" : null)
                                            </span><br />
                                            課稅別：@((_model.InvoiceAmountType.TaxType == (byte)2 || _model.InvoiceAmountType.TaxType == (byte)3) ? "TZ" : "TX")&nbsp;&nbsp;
                                            @if (!_buyer.IsB2C())
                                            {
                                                <text>
                                                    應稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == 1 || _model.InvoiceAmountType.TaxType == 9
                                                                      ? _model.InvoiceAmountType.SalesAmount
                                                                      : _model.InvoiceAmountType.TaxType == 4
                                                                          ? _model.InvoiceAmountType.TotalAmount
                                                                          : 0)) <br /><br />
                                                    零稅率銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)2 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                                    免稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)3 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                                    稅額：@(String.Format("{0:##,###,###,##0.##} ", _model.InvoiceBuyer.BuyerMark == 3 || _model.InvoiceBuyer.BuyerMark == 4 ? 0 : _model.InvoiceAmountType.TaxAmount)) <br /><br />
                                                </text>
                                            }
                                            備註：@(String.Join(";", _model.InvoiceDetails.Select(d => d.InvoiceProduct.InvoiceProductItem.FirstOrDefault().Remark)).Replace("\r\n", "<br/>").Replace("\n", "<br/>"))<br />
                                            @*退貨請憑電子發票證明聯辦理*@
                                        </p>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <p>
            @if (eIVOGo.Properties.Settings.Default.ShowAuthorizationNoInMail)
            {
                <text>本公司奉財政部核准文號：</text>
                <span class="blue">@(String.IsNullOrEmpty(_model.Organization.OrganizationStatus.AuthorizationNo) ? "臺北市國稅局信義分局100年7月22日財北國稅信義營業字第1000213452號" : _model.Organization.OrganizationStatus.AuthorizationNo)</span>
                <text>，使用電子發票。</text>
            }
            @if (_model.Organization.OrganizationStatus.SetToNotifyCounterpartBySMS == true)
            {
                @(_model.InvoiceBuyer.IsB2C()
                    ? "本公司會以電子郵件將發票開立與中獎訊息通知客戶，如需索取紙本電子發票請回覆欲索取之電子發票號碼至：" + _model.Organization.ContactEmail + "，" + _model.Organization.CompanyName + "將於收到回覆後十個工作天內寄出該電子發票紙本證明聯。"
                    : "對於企業端電子發票用戶，如需列印，請點選上方「>請點此連結列印發票」即可使用企業所屬之帳號登入列印發票。" /*"，如需列印，請直接開啟附件之發票列印檔另行列印即可"*/)
            }
            else
            {
                <text>本公司會以電子郵件將發票開立與中獎訊息通知客戶，對於企業端電子發票用戶，如需列印，請直接開啟附件之發票列印檔另行列印即可。</text>
            }
        </p>
        <p class="red">
            注意事項：
        </p>
        <p>
            根據財政部「電子發票實施作業要點」規範，營業人將您的發票明細資料上傳到政府
            @{ Html.RenderPartial("~/Module/SYS/Info/GovInvoiceLink.ascx");}

            儲存，若您要至該網站查詢發票開立狀況，請輸入「發票號碼」及「發票日期」，即可查詢此張發票內容。
        </p>

        if (_viewModel?.PrintBack == true || (_productItem != null && _productItem.Length > _FirstCheckCount))
        {
            <div class="br" id="backPage" style="page-break-after: always">
                <div class="bspace listfield">
                    @for (; _itemIdx < Math.Min(_productItem.Length, _ItemPagingCount * 2); _itemIdx++)
                    {
                        var item = _productItem[_itemIdx];
                        <div class="content_box">
                            <p class="productname">@(item.InvoiceProduct.Brief)</p>
                            <p class="quantity">@(String.Format("{0:##,###,###,##0.##}", item.Piece))</p>
                            <p class="price">@(String.Format("{0:##,###,###,##0.##}", item.UnitCost))</p>
                            <p class="totalPrice">@(String.Format("{0:##,###,###,##0.##}", item.CostAmount))</p>
                        </div>
                    }
                    @if (_productItem.Length > _FirstCheckCount && _productItem.Length <= _SecondCheckCount)
                    {
                        <div class="content_box">
                            <p style="border-top: 1px dotted #808080;">
                                <span style="font-size: 12pt; font-weight: bold;">總計：@(_model.InvoiceDetails.Count)項&nbsp;&nbsp;金額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TotalAmount))</span><br />
                                課稅別：@((_model.InvoiceAmountType.TaxType == (byte)2 || _model.InvoiceAmountType.TaxType == (byte)3) ? "TZ" : "TX")&nbsp;&nbsp;
                                @if (!_buyer.IsB2C())
                                {
                                    <text>
                                        應稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == 1 || _model.InvoiceAmountType.TaxType == 9
                                                                    ? _model.InvoiceAmountType.SalesAmount
                                                                    : _model.InvoiceAmountType.TaxType == 4
                                                                        ? _model.InvoiceAmountType.TotalAmount
                                                                        : 0)) <br /><br />
                                        零稅率銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)2 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                        免稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)3 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                        稅額：@(String.Format("{0:##,###,###,##0.##} ", _model.InvoiceBuyer.BuyerMark == 3 || _model.InvoiceBuyer.BuyerMark == 4 ? 0 : _model.InvoiceAmountType.TaxAmount)) <br /><br />
                                    </text>
                                }
                                備註：@(String.Join(";", _model.InvoiceDetails.Select(d => d.InvoiceProduct.InvoiceProductItem.FirstOrDefault().Remark)).Replace("\r\n", "<br/>").Replace("\n", "<br/>"))<br />
                                @*退貨請憑電子發票證明聯辦理*@
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
        if (_productItem != null && _productItem.Length > _SecondCheckCount)
        {
            <div class="br" style="page-break-after: always">
                <div class="listfield">
                    @for (; _itemIdx < _productItem.Length; _itemIdx++)
                    {
                        var item = _productItem[_itemIdx];
                        <div class="content_box">
                            <p class="productname">@(item.InvoiceProduct.Brief)</p>
                            <p class="quantity">@(String.Format("{0:##,###,###,##0.##}", item.Piece))</p>
                            <p class="price">@(String.Format("{0:##,###,###,##0.##}", item.UnitCost))</p>
                            <p class="totalPrice">@(String.Format("{0:##,###,###,##0.##}", item.CostAmount))</p>
                        </div>
                    }
                    <div class="content_box">
                        <p style="border-top: 1px dotted #808080;">
                            <span style="font-size: 12pt; font-weight: bold;">總計：@(_model.InvoiceDetails.Count)項&nbsp;&nbsp;金額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TotalAmount))</span><br />
                            課稅別：@((_model.InvoiceAmountType.TaxType == (byte)2 || _model.InvoiceAmountType.TaxType == (byte)3) ? "TZ" : "TX")&nbsp;&nbsp;
                            @if (!_buyer.IsB2C())
                            {
                                <text>
                                    應稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == 1 || _model.InvoiceAmountType.TaxType == 9
                                                                      ? _model.InvoiceAmountType.SalesAmount
                                                                      : _model.InvoiceAmountType.TaxType == 4
                                                                          ? _model.InvoiceAmountType.TotalAmount
                                                                          : 0)) & nbsp; &nbsp;
                                    零稅率銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)2 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                    免稅銷售額：@(String.Format("{0:##,###,###,##0.##}", _model.InvoiceAmountType.TaxType == (byte)3 ? _model.InvoiceAmountType.SalesAmount : 0)) <br /><br />
                                    稅額：@(String.Format("{0:##,###,###,##0.##} ", _model.InvoiceBuyer.BuyerMark == 3 || _model.InvoiceBuyer.BuyerMark == 4 ? 0 : _model.InvoiceAmountType.TaxAmount)) <br /><br />
                                </text>
                            }
                            備註：@(String.Join(";", _model.InvoiceDetails.Select(d => d.InvoiceProduct.InvoiceProductItem.FirstOrDefault().Remark)).Replace("\r\n", "<br/>").Replace("\n", "<br/>"))<br />
                            @*退貨請憑電子發票證明聯辦理*@
                        </p>
                    </div>
                </div>
            </div>
            if ((_productItem.Length - _SecondCheckCount) / 43 % 2 == 0)
            {
                <div class="br" style="page-break-after: always">&nbsp;</div>
                        }
                    }
                    Html.RenderPartial("~/Views/Module/SYS/Info/ServiceNotation.cshtml", _model.Organization);
                    Html.RenderPartial("~/Views/Notification/Module/NotifyCommissionedToReceiveInvoice.cshtml" ,_model.Organization);
     }

</body>
</html>

