
@using System.IO
@using System.Linq.Expressions
@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@using Newtonsoft.Json
@using Business.Helper
@using res=eIVOGo.Resource.Views.InvoiceNo.Module.DataItem

@{
    InvoiceNoInterval _model;
    _model = (InvoiceNoInterval)this.Model;
    var encryptKey = _model.IntervalID.EncryptKey();
    var current = _model.InvoiceNoAssignments.OrderByDescending(a => a.InvoiceID).FirstOrDefault();
}

<tr>
    <td>@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.Year)</td>
    <td>@(String.Format("{0:00}-{1:00}{2}", _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2 - 1, _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2,res.月))</td>
    <td>@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.TrackCode)(@($"{(Naming.InvoiceTypeDefinition?)_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.InvoiceType}"))</td>
    <td>@(String.Format("{0:00000000}", _model.StartNo))</td>
    <td>@(String.Format("{0:00000000}", _model.EndNo))</td>
    <td>
        @(_model.EndNo - _model.StartNo + 1)／@(current != null ? _model.EndNo - current.InvoiceNo : _model.EndNo - _model.StartNo + 1)
    </td>
    <td>
        @if (current != null)
        {
           @(String.Format("{0:00000000}", current.InvoiceNo))
           // Writer.Write(String.Format("{0:00000000}", current.InvoiceNo));
        }
    </td>
    <td>
        @if (_model.InvoiceNoAssignments.Count == 0)
        {
            <div class="btn-group dropdown" data-toggle="dropdown">
                <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">@res.請選擇功能</button>
                <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="btn" onclick="uiTrackCodeNo.editItem('@(encryptKey)');">@res.修改</a></li>
                    <li><a class="btn" onclick="uiTrackCodeNo.deleteItem('@(encryptKey)');">@res.刪除</a></li>
                    @if (_model.InvoiceTrackCodeAssignment.Organization.POSDevice.Count > 0)
                    {
                        <li><a class="btn" onclick="uiTrackCodeNo.assignPOSBooklets('@(encryptKey)');">@res.POS本組數配置</a></li>
                    }
                    <li><a class="btn" onclick="uiTrackCodeNo.allotInterval('@(encryptKey)');">@res.本組數均分</a></li>
                </ul>
            </div>
        }
    </td>
</tr>