
@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;

    UploadInvoiceTrackCodeModel _model;
    _model = (UploadInvoiceTrackCodeModel)this.Model;
}
<tr>
    <td>
        @(_model.ReceiptNo)
        @{
            var orgItem = models.GetTable<Organization>().Where(o => o.ReceiptNo == _model.ReceiptNo).FirstOrDefault();
            if (orgItem?.OrganizationExtension?.ExpirationDate.HasValue == true)
            {
                <text>(註記停用:@($"{orgItem.OrganizationExtension.ExpirationDate:yyyy/MM/dd}"))</text>
            }
        }
    </td>
    <td>@(_model.Year)</td>
    <td>@(String.Format("{0:00}-{1:00}月", _model.PeriodNo * 2 - 1, _model.PeriodNo * 2))</td>
    <td>@(_model.TrackCode)</td>
    <td>
        @(String.Format("{0:00000000}",_model.StartNo))
    </td>
    <td>
        @(String.Format("{0:00000000}",_model.EndNo))
    </td>
    <td>
        @if (_model.Message == null)
        {
            <input type="hidden" name="KeyItems" value="@(JsonConvert.SerializeObject(_model).EncryptData())" />
            <button class="btn" type="button" onclick="$(this).closest('tr').remove();">刪除</button>
        }
        else
        {
            <span>@(_model.Message)</span>
        }
    </td>
</tr>




