
@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

@{

    InvoiceNoIntervalViewModel _viewModel;
    InvoiceNoInterval _model;


    _viewModel = (InvoiceNoIntervalViewModel)ViewBag.ViewModel;
    _model = (InvoiceNoInterval)this.Model;
}
    <tr>
        <td>@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.Year)</td>
        <td>@(String.Format("{0:00}-{1:00}月", _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2 - 1, _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2))</td>
        <td>@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.TrackCode)</td>
        <td>
            <input type="text" name="StartNo" data-role="edit" placeholder="請輸入配號區間起始號碼" value="@(String.Format("{0:00000000}",_model.StartNo))" />
        </td>
        <td>
            <input type="text" name="EndNo" data-role="edit" placeholder="請輸入配號區間結尾號碼" value="@(String.Format("{0:00000000}",_model.EndNo))" />
        </td>
        <td colspan="3">
            <div class="btn-group dropdown" data-toggle="dropdown">
                <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">請選擇功能</button>
                <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="btn" onclick="uiTrackCodeNo.commitItem('@(_model.IntervalID.EncryptKey())');">確定</a></li>
                    <li><a class="btn" onclick="uiTrackCodeNo.showItem('@(_model.IntervalID.EncryptKey())');">取消</a></li>
                </ul>
            </div>
        </td>
    </tr>




