@using System.IO
@using System.Linq.Expressions

@using Model.DataEntity
@using Model.Locale
@using Model.DataEntity

@{ 
    InvoiceAllowance _model;
    _model = (InvoiceAllowance)this.Model;
}

<td><input name="chkItem" type="checkbox" value="@(_model.AllowanceID)" /></td>
<td>@(String.Format("{0:yyyy/MM/dd}", _model.AllowanceDate))</td>
<td>@(_model.InvoiceAllowanceBuyer.CustomerID)</td>
<td style="white-space:nowrap;">@(_model.InvoiceAllowanceSeller.CustomerName)</td>
<td style="white-space:nowrap;">@(_model.InvoiceAllowanceSeller.ReceiptNo)</td>
<td style="white-space:nowrap;"><a onclick="showAllowanceModal(@(_model.AllowanceID));">@(_model.AllowanceNumber)</a></td>
<td align="right" style="white-space:nowrap;">
    @{ var amount = _model.InvoiceAllowanceDetails.Sum(d => d.InvoiceAllowanceItem.Amount);}

    @(String.Format("{0:0.}", amount))
</td>
<td align="right" style="white-space:nowrap;">
    @{ var tax = _model.InvoiceAllowanceDetails.Sum(d => d.InvoiceAllowanceItem.Tax);}

    @(String.Format("{0:0.}", tax))
</td>
<td align="right" style="white-space:nowrap;">@(String.Format("{0:0.}", amount + tax))</td>
<td style="white-space:nowrap;">@(_model.InvoiceAllowanceBuyer.IsB2C() ? "" : _model.InvoiceAllowanceBuyer.ReceiptNo)</td>
<td></td>
