
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@functions
{
    InquireInvoiceViewModel _viewModel;
}
@{

    ModelStateDictionary _modelState;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
@{
    _viewModel.DataColumns.Add(new QueryResultDataColumnHelper
    {
        ShowHeader = ShowHeader,
        ShowBody = ShowBody,
        ShowFooter = ShowFooter
    });
}

@helper ShowHeader(dynamic item)
{
    <th aria-sort="other">發票狀態</th>
}
@helper ShowBody(dynamic po)
{
    InvoiceItem item = (InvoiceItem)po;
    <td>
        @(item.InvoiceCancellation==null ? "" : $"已作廢({item.InvoiceCancellation.CancelDate:yyyy/MM/dd})")
        @if (_viewModel.MIG == true)
        {
            @(((Naming.InvoiceProcessType?)item.CDS_Document.ProcessType)?.ToString() ?? "C0401");
            if (item.CDS_Document.DataProcessLog.Any(l => l.StepID == (int)Naming.InvoiceStepDefinition.MIG_C))
            {
                @(":C");
            }
            else if (item.CDS_Document.DataProcessLog.Any(l => l.StepID == (int)Naming.InvoiceStepDefinition.MIG_E))
            {
                @(":E");
            }
            else
            {
                @(":P");
            }
            if (item.InvoiceCancellation != null)
            {
                @(",");
                var doc = item.CDS_Document.ChildDocument.FirstOrDefault()?.CDS_Document;
                @(((Naming.InvoiceProcessType?)doc.ProcessType)?.ToString() ?? "C0501");
                if (doc?.DataProcessLog.Any(l => l.StepID == (int)Naming.InvoiceStepDefinition.MIG_C) == true)
                {
                    @(":C");
                }
                else if (doc?.DataProcessLog.Any(l => l.StepID == (int)Naming.InvoiceStepDefinition.MIG_E) == true)
                {
                    @(":E");
                }
                else
                {
                    @(":P");
                }
            }
        }
    </td>
}
@helper ShowFooter(dynamic item)
{}



